*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}


/* ========================= admin dashboard start ========================== */
.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(187, 114, 225), rgb(81, 81, 215));
}

.admin-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 400px;
  height: 300px;
  background: linear-gradient(rgb(91, 194, 82), rgb(183, 65, 171));

}

.admin{
  text-align: center;
  padding: 20px;
}

.manage{
  display: inline;
  width: 200px;
  padding: 20px;
  font-size: 1rem;
  font-weight: 700;
}

.manage:hover{
  background-color: green;
  color: red;
}

/* ========================= admin dashboard end ========================== */

/* ========================= admin login start ============================= */

/* .login-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100vh !important;
  margin: 0%;
} */

/* .login-container{
  background-color: #0d47a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.btn-login{
  font-size: 1.5rem;
  font-weight: 500;
  width: 300px;
  
}

.btn-login:hover{
    color: rgb(255, 0, 230);
     background-color: green;
} */

/* ========================= admin login start ============================= */


.dashboard-container {
  padding: 30px;
  text-align: center;
}


.box-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}




.dash-box {
  width: 220px;
  height: 120px;
  background: #1976d2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
}

.dash-box:hover {
  background: #0d47a1;
}

@media (max-width: 768px) {
  .box-container {
    flex-direction: column;
    align-items: center;
  }
}
