*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Modal Box */
.modal-box {
  background: #ffffff;
  width: 90%;
  max-width: 600px;
  border-radius: 8px;
  animation: fadeIn 0.3s ease;
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

.modal-header h2 {
  margin: 0;
  font-size: 24px;
}

/* Close Button */
.close-btn {
  /* background: #6c757d; */
  width: fit-content;
  color: #fff;
  border: none;
  /* padding: 6px 10px; */
  font-size: 16px;
  /* border-radius: 4px; */
  /* cursor: pointer; */
}

/* Form */
.modal-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-form input,
.modal-form textarea {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  outline: none;
}

.modal-form input:focus,
.modal-form textarea:focus {
  border-color: #7b2cbf;
}

/* Submit Button */
.submit-btn {
  width: fit-content;
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Animation */
@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .modal-box {
    width: 95%;
  }
}
