*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 12px;
  padding: 20px;
  margin-bottom: 30px;
  background: #fafafa;
  border-radius: 8px;
}

.form-container h3 {
  grid-column: 1 / -1;
}

.form-container input,
.form-container select {
  padding: 8px;
  font-size: 14px;
}

.radio-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

button {
  grid-column: 1 / -1;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #0473ea;
  color: #29b292;
}

/* Mobile */
@media (max-width: 600px) {
  .radio-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

.sub-btn{
  width: 200px;
}
