*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
}

input, select, button {
  padding: 8px;
}
