body {
  margin: 0;
  font-family: Arial, sans-serif;
 
  

}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* Cards */
.card {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
