*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.back-wrapper {
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;
    width: 100%;
}

.back {
    display: inline-block;     /* text width mattum */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 6px 14px;
    color: #0473ea;
}

.back:hover {
    background-color: #0473ea;     
    color: #29b292;    
    transition: background-color 0.6s ease !important;
    border-radius: 4px;        
}
