* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== FOOTER MAIN ===== */
.footer {
  width: 100%;
  background: url("https://www.kridashala.com/assets/img/bg/footer-bg.jpg")
    center/cover no-repeat;
  position: relative;
  color: #fff;
}

.footer-overlay {
  background: rgba(0, 0, 0, 0.75);
  padding-top: 80px;
}

/* ===== CONTAINER ===== */
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 8%;
}

/* ===== BOX ===== */
.footer-box h3 {
  font-size: 22px;
  margin-bottom: 20px;
  position: relative;
}

.footer-box h3::after {
  content: "";
  width: 40px;
  height: 2px;
  background: #9c29b2;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.footer-box p {
  font-size: 15px;
  line-height: 1.7;
  color: #ddd;
}

/* ===== LISTS ===== */
.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 12px;
  font-size: 15px;
  cursor: pointer;
  color: #ddd;
}

.footer-box ul li:hover {
  color: #9c29b2;
}

/* ===== SOCIAL ===== */
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  background: #3b5998;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  transition: 0.3s;
}

.social-icons a:nth-child(2) {
  background: #c13584;
}

.social-icons a:hover {
  transform: translateY(-4px);
}

/* ===== CONTACT ===== */
.contact-item {
    /* display: block !important; */
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  color: #ddd;
}

.contact-item i {
  color: white;
  font-size: 18px;
}

/* ===== BOTTOM ===== */
.footer-bottom {
  margin-top: 60px;
  padding: 20px 10px;
  text-align: center;
  background: #111;
  font-size: 14px;
  color: #bbb;
}

/* ================= RESPONSIVE ================= */

/* TABLET */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-box h3::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .contact-item {
    justify-content: center;
    text-align: left;
  }

  .social-icons {
    justify-content: center;
  }
}

.contact-item:hover{
    color: #9c29b2;
    cursor: pointer;
}

.contact-icon{
    color: white !important;
}

.contact-list{
    text-decoration: none;
}