* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain-box {
  height: 100px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.title-name {
  color: #29b292;
  font-size: 2rem;
  font-weight: bold;
}

/* ================= MENU ================= */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-menu li {
  position: relative;
}

.li-color {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
}

.li-color:hover{
    background-color: #9c29b2;
    color: white;
}

/* ================= DROPDOWN (UNCHANGED) ================= */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 160px;
  display: none;
  list-style: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  z-index: 10;
}

.dropdown:hover .dropdown-menu {
  display: block;
}